.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Code for customizing file input  */
input[type="file"] {
  position: relative;
  /* display: none; */
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

input[type="file"]::after {
  content: "Browse file";
  position: absolute;
  background-color: orange;
  /* z-index: 2; */
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
}

.climate {
  background-color: yellowgreen;
  height: 200px;
  width: 200px;
  position: relative;
}

.climate::before {
  content: 'Some content';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}