body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-card {
  margin: 1rem 0;
  background-color: khaki;
  border: 1px solid lightgreen;
  padding: 10px;
  width: 100%;
}

.todo-card-empty {
  margin: 1rem 0;
  background-color: aliceblue;
  border: 1px solid gray;
  padding: 10px;
  width: 100%;
}